* {
  margin: 0;
  padding: 0;
  box-sizing: "border-box";
}

body {
  /* background-color: #171023;*/
  color: "$gray100";
  -webkit-font-smoothing: "antialiased";
}

body,
input,
textarea,
button {
  font-family: "arial black";
  font-weight: 400;
}

body {
  margin: 10px;
}

body * {
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
}

li {
  list-style-type: circle;
}
